<html>
    <head>
        <a href="/">Return to home page</a> 
        <link rel="stylesheet" href="lab.css">
    </head>
    <body>
        <a href="/new">New Parcel</a> 
        <a href="/list">List Parcel</a> 
        <a href="/delete">Delete Parcel</a>
        <a href="/update">Update Parcel</a>
        <a href="/updateWeight">Update Parcel Weight</a>
        <hr/>
        <br>
        <form method="post" action="deleteParcel"> 
            Enter the ID of sender to delete the parcels:<br>
            ID: <input type="text" name="id"><br>
            <!-- Name: <input type="text" name="sender"><br> -->

            <button type="submit">Submit</button>
        </form> 
    </body>
</html>