<html>
    <head>
        <!-- <link rel="stylesheet" href="lab.css"> -->
        <link rel="stylesheet" href="./css/bootstrap.min.css">

        <img src = "logo.jpg"><br>

    </head>
    <body>
        <div class="jumbotron text-center">
            <h2>Welcome to POMS App</h2>
            <p>Select an option below</p>
        </div>
        
        
        <a type="button" class= "btn btn-primary "href="/new">New Parcel</a> 
        <a type="button" class= "btn btn-primary" href="/list">List Parcel</a> 
        <a type="button" class= "btn btn-primary" href="/delete">Delete Parcel</a>
        <a type="button" class= "btn btn-primary" href="/update">Update Parcel</a>
        <a type="button" class= "btn btn-primary" href="/updateWeight">Update Parcel Weight</a>
        <hr/>

    </body>
</html>